html {
    --background-color: #ddfff7;
    /* --background-color: black; */
    --color: #923a56;
    --boardColor: #ddfff7;
    --buttonHighlight: #b5b3d1;
    --playerOneColor: #456990;
    --playerTwoColor: #f45b69;
    --victoryInfoHeight: 130px;
    --victoryTilePlayerOne: #99E0FF;
    --victoryTilePlayerTwo: #F99576;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--color);
}

button {
    border: 0.1em solid black;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    font-size: large;
}

button:hover {
    color: #e1f1f4;
    background-color: #b5b3d1;
}

#gameBoardHolder {
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    min-width: 30vmax;
    min-height: 30vmax;
    background-color: var(--boardColor);
    display: none;
    flex-direction: column;
}

#gameBoard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    --margin: 5% 0 5% 0;
    font-size: larger;
}

#playersDiv {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerButtons {
    display: flex;
    flex-direction: column;
}

.playerButtons > button {
    margin: var(--margin);
    
}

.scoreCounter {
    display: none;
}

.activeButton {
    background-color: var(--buttonHighlight);
}

#startButton {
    margin: 2%
}

.activeTitle {
    text-shadow: 0 0 2px var(--playerOneColor), 0 0 2px var(--playerTwoColor);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    --border: 2px solid black;
    transition: all 0.2s;
}

.tile:hover {
    background-color: #cca7dc;
}

.playerOneTile {
    color: var(--playerOneColor);
}

.playerTwoTile {
    color: var(--playerTwoColor);
}

.victoryTilePlayerOne {
    background-color: var(--victoryTilePlayerOne);
}

.victoryTilePlayerTwo {
    background-color: var(--victoryTilePlayerTwo);
}


.drawTile {
    background: #D9B7E1;
}

/* Tic-Tac-Toe Grid */
.tile:nth-child(n+2):nth-child(-n+3) {
    border-left: var(--border)
}
.tile:nth-child(n+5):nth-child(-n+6) {
    border-left: var(--border)
}
.tile:nth-child(n+8):nth-child(-n+9) {
    border-left: var(--border)
}
.tile:nth-child(-n+6) {
    border-bottom: var(--border)
}

#victoryInfo {
    display: none;
    flex-direction: column;
    height: var(--victoryInfoHeight);
    align-items: center;
}

#emptyVictoryInfo {
    min-height: var(--victoryInfoHeight);
    min-width: 100%;
}

#playAgain {
    display: inherit;
}