body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gameBoardHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    min-width: 50vmax;
    min-height: 50vmax;
    background-color: antiquewhite;
}

#gameBoard {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#header {
    display: flex;
    justify-content: center;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    --border: 2px solid red;
}

.tile:nth-child(n+2):nth-child(-n+3) {
    border-left: var(--border)
}
.tile:nth-child(n+5):nth-child(-n+6) {
    border-left: var(--border)
}
.tile:nth-child(n+8):nth-child(-n+9) {
    border-left: var(--border)
}
.tile:nth-child(-n+6) {
    border-bottom: var(--border)
}